[DOME-TEST]

[grid]
upn = 11
ewn = REPLACE_EWN      
nsn = REPLACE_NSN
dew = REPLACE_DEW
dns = REPLACE_DNS
sigma_builtin = 1
sigma_file =

[time]
tstart = 0.0
tend = 0.0
dt = 1. 

[options]
ioparams =
dycore = 3              # 0 = glide, 1 = glam, 2 = glissade, 3 = felixFO
flow_law = 0            # 0 = constant, 2 = Paterson-Budd
evolution = 3           # 3 = remapping
temperature = 1         # 1 = prognostic, 3 = enthalpy

[ho_options]
which_ho_babc = 4       # 4 = no-slip at bed
which_ho_efvs = 2       # 0 = constant, 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 4     # 1 = SLAP GMRES, 4 = Trilinos for linear solver
which_ho_nonlinear = 1  # 0 = Picard, 1 = JFNK

[parameters]
flow_factor = 1.
ice_limit = 0.          # min ice thickness (m) for calc. mom. balance soln. 

[CF default]
comment = REPLACE_KM res. Greenland init. cond. file, using newest datasets assembled under PISCEES
title = Greenland REPLACE_KM resolution init. cond. input file for PISCEES 

[CF input]
name = REPLACE_NAME
time = 1

[CF output]
variables = thk topg artm acab beta bheatflx temp uvel vvel velnorm
name = REPLACE_OUT 
frequency = 1. 

